@model IEnumerable<SportsPro.Models.Incident>

@if (this.Model.Count() > 0)
{
    <h2>Technician: @ViewData["TechnicianName"]</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOpened)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateClosed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOpened)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                    <td>
                        <a asp-action="techEdit" asp-route-id="@item.IncidentID">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="lead">No assigned incidents to @ViewData["TechnicianName"]</p>
}
<button id="btn-switch-tech" type="submit" class="btn btn-primary">Switch Technician</button>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $('#btn-switch-tech').click((e) => {
            e.preventDefault();
            sessionStorage.clear();
            $.ajax({
                method: 'GET',
                url: '/incidents/ListByTech',
            }).done(function (result, statusText, xhdr) {
                $('#uxIncidents').html("");
                $('#uxErrorMsg').html("");
                $('#uxTechSelection').val(null);
            });
        });
    });


</script>

