@model IEnumerable<SportsPro.Models.Incident>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOpened)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOpened)
                    </td>
                    @if (item.DateClosed == null)
                    {
                        if (DateTime.Now.Subtract(item.DateOpened).TotalDays > 30)
                        {
                            <td style="color:red; font-weight:bold"> Overdue </td>
 }
                        else
                        {
                            <td> Open </td>
}
                    }
                    else
                    {
                        <td> Closed </td>
}
                    <td>
                        <a href="Incidents/Upsert/@item.IncidentID">Edit</a>
                        @*<a asp-action="Incidents/Delete" asp-route-id="@item.IncidentID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="lead">You currently have no assigned incidents</p>
}
